* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: ChirpRegular;
    }
    
@font-face {
    font-family: ChirpRegular;
    src: url("/assets/fonts/chirp-regular-web.woff");
    }

body {
    max-width: 1225px;
    margin: auto;
}

a {
    text-decoration: none;
}

.page {
    display: flex;
    flex-direction: row;
}

/*NAVIGATION BAR*/

#twitterLogo {
    width: 30px;
    height: 30px;
}

#twitterLogo,
#home {
    fill: rgb(29, 155, 240);
}

#home .text {
    color: rgb(29, 155, 240);
}

.navIcon{
    width: 26.25px;
    height: 26.25px;
}


nav {
    height: 100vh;
    width: 275px;
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.navGridMid {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.text,
.navIcon {
    display: inline-block;
    vertical-align: middle;
}

.text {
    margin-left: 20px;
    font-size: 1.4rem;
    font-weight: 700;
}

.navGridBottom {
    height: 100%;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tweetButtonContainer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(29, 155, 240);
    border-radius: 30px;
    font-size: 1.2rem;
    color: white;
}

.userDisplayContainer {
    display: flex;
    justify-content: center;
    color: grey;
}

main {
    display: flex;
    flex: 1;
    justify-content: space-between;
}

.feed {
    padding: 12px 0px;
    flex: 1;
    margin: 0px 10px;
    border-left: 1px solid lightgray;
    border-right: 1px solid lightgray;
}

.homeBar{
    display: flex;
    height: 40px;
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
}

.homeBar > div {
    margin: 0px 20px;
}

.homeBartext {
    font-size: 1.4rem;
    font-weight: 700;
}

.homeBaricon {
    fill: rgb(29, 155, 240);
    width: 30px;
    height: 30px;
}

.statusBar {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    border-bottom: 1px solid lightgray;
}

.statusBarTop {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0px;
}

.userAvatar {
    margin: 0px 20px;
    width: 40px;
}

.status {
    place-items: start center;
    color: gray;
    font-size: 1.3rem;
    font-weight: 700;
}

.statusBarBottom {
    display: flex;
    margin: 20px 20px 0px 20px;
    justify-content: space-between;
}

.statusBarBottom  {
    margin-left: 80px;
    align-items: center;
}

.statusBarBottomIcon > svg {
    width: 30px;
    height: 30px;
    fill: rgb(29, 155, 240);
}

.statusTweetButton {
    font-size: 1.2rem;
    font-weight: 700;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #62bdfa;
    color: white;
    border-radius: 30px;
}

.spacer {
    background-color: rgb(241, 241, 241);
    height: 10px;
}

.tweetListItem {
    padding: 20px;
    font-size: 1 rem;
    line-height: 1.5rem;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid lightgray;
}

.tweetListItemRT {
    color: grey;
    font-weight: 600;
    display: flex;
    gap: 10px;
    margin: 0px 10px 0px 50px;
}

.tweetListItemActual {
    display: flex;
}

.tweetMain {
    display: flex;
    flex-direction: column;
}

.tweetMainStatusBar {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.tweetMainStatusBar > *,
.tweetListItemRTIcon {
width: 20px;
height: 20px;
}

.greytext {
    color: grey;
}

.elephant {
    margin-top: 10px;
    border-radius: 20px;
}

.sidebar {
    margin: 5px;
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0px 15px;
}

.searchButtonContainer {
    padding-left: 15px;
    font-size: 1.1rem;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    background-color: rgb(241, 241, 241);
    color: grey;
    border-radius: 30px;
}

.relatedNews {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 20px;
    font-size: 1rem;
    background-color: rgb(243, 247, 253);
}

.moreNews {
    color: rgb(29, 155, 240);   
}

.headlines {
    font-weight: 700;
}

.relatedNewsItem {
    display:flex;
    flex-direction: column;
    border-bottom: 1px solid lightgrey;
    justify-content: left;
    vertical-align: middle;
}